In [58]:
import pandas as pd
from datetime import date, timedelta

In [28]:
corona = pd.read_csv('./data/coronaboard(2021-09-26).csv')
vaccine = pd.read_csv('./data/bloomberg(2021-09-26).csv')
country = pd.read_csv('./data/country.csv')

In [29]:
jandam = corona.loc[corona['êµ­ê°€'] == 'ì”ë‹´ğŸš¢', :]
jandam

      êµ­ê°€  í™•ì§„ì  ì¹˜ë£Œì¤‘  ìœ„ì¤‘ì¦  ì‚¬ë§ì   ì™„ì¹˜ ì¹˜ëª…(%)  ì™„ì¹˜(%) ë°œìƒë¥  ì¸êµ¬ìˆ˜
215  ì”ë‹´ğŸš¢    9  0.0  NaN    2  7.0  22.2   77.8   -   -

In [30]:
corona.drop(jandam.index, inplace=True)

In [31]:
corona['êµ­ê°€']

0          ë¯¸êµ­ğŸ‡ºğŸ‡¸
1          ì¸ë„ğŸ‡®ğŸ‡³
2         ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·
3          ì˜êµ­ğŸ‡¬ğŸ‡§
4         ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º
         ...
217     ë§ˆì…œ ì œë„ğŸ‡²ğŸ‡­
218      ë°”ëˆ„ì•„íˆ¬ğŸ‡»ğŸ‡º
219       ì‚¬ëª¨ì•„ğŸ‡¼ğŸ‡¸
220    ì„¸ì¸íŠ¸í—¬ë ˆë‚˜ğŸ‡¸ğŸ‡­
221    ë¯¸í¬ë¡œë„¤ì‹œì•„ğŸ‡«ğŸ‡²
Name: êµ­ê°€, Length: 221, dtype: object

In [40]:
corona['êµ­ê°€ì½”ë“œ'] = corona['êµ­ê°€'].str[-2:]

In [41]:
corona['êµ­ê°€'] = corona['êµ­ê°€'].str[:-2]

In [42]:
corona.head()

,êµ­ê°€,êµ­ê°€ì½”ë“œ,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜
0,ë¯¸êµ­,ğŸ‡ºğŸ‡¸,43728094,9857997.0,22378.0,706073,33164024.0,1.6,75.8,132177,331002651
1,ì¸ë„,ğŸ‡®ğŸ‡³,33673010,308341.0,8944.0,447169,32917500.0,1.3,97.8,24405,1380004385
2,ë¸Œë¼ì§ˆ,ğŸ‡§ğŸ‡·,21343304,415150.0,8318.0,594246,20333908.0,2.8,95.3,100452,212559417
3,ì˜êµ­,ğŸ‡¬ğŸ‡§,7631233,1335993.0,916.0,136105,6159135.0,1.8,80.7,112899,67886011
4,ëŸ¬ì‹œì•„,ğŸ‡·ğŸ‡º,7420913,612409.0,2300.0,203900,6604604.0,2.7,89.0,51003,145934462

In [43]:
corona.columns

Index(['êµ­ê°€', 'êµ­ê°€ì½”ë“œ', 'í™•ì§„ì', 'ì¹˜ë£Œì¤‘', 'ìœ„ì¤‘ì¦', 'ì‚¬ë§ì', 'ì™„ì¹˜', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ',
       'ì¸êµ¬ìˆ˜'],
      dtype='object')

In [44]:
col = ['êµ­ê°€', 'êµ­ê°€ì½”ë“œ', 'í™•ì§„ì', 'ì¹˜ë£Œì¤‘', 'ìœ„ì¤‘ì¦', 'ì‚¬ë§ì', 'ì™„ì¹˜', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜']

In [45]:
corona = corona[col].copy()

In [46]:
corona.head()

,êµ­ê°€,êµ­ê°€ì½”ë“œ,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜
0,ë¯¸êµ­,ğŸ‡ºğŸ‡¸,43728094,9857997.0,22378.0,706073,33164024.0,1.6,75.8,132177,331002651
1,ì¸ë„,ğŸ‡®ğŸ‡³,33673010,308341.0,8944.0,447169,32917500.0,1.3,97.8,24405,1380004385
2,ë¸Œë¼ì§ˆ,ğŸ‡§ğŸ‡·,21343304,415150.0,8318.0,594246,20333908.0,2.8,95.3,100452,212559417
3,ì˜êµ­,ğŸ‡¬ğŸ‡§,7631233,1335993.0,916.0,136105,6159135.0,1.8,80.7,112899,67886011
4,ëŸ¬ì‹œì•„,ğŸ‡·ğŸ‡º,7420913,612409.0,2300.0,203900,6604604.0,2.7,89.0,51003,145934462

In [49]:
corona.tail()

         êµ­ê°€ êµ­ê°€ì½”ë“œ  í™•ì§„ì  ì¹˜ë£Œì¤‘  ìœ„ì¤‘ì¦  ì‚¬ë§ì   ì™„ì¹˜ ì¹˜ëª…(%)  ì™„ì¹˜(%)  ë°œìƒë¥      ì¸êµ¬ìˆ˜
217   ë§ˆì…œ ì œë„   ğŸ‡²ğŸ‡­    4  0.0  NaN    0  4.0     -  100.0   68   59190
218    ë°”ëˆ„ì•„íˆ¬   ğŸ‡»ğŸ‡º    4  0.0  NaN    1  3.0    25   75.0   13  307145
219     ì‚¬ëª¨ì•„   ğŸ‡¼ğŸ‡¸    3  0.0  NaN    0  3.0     -  100.0   15  198414
220  ì„¸ì¸íŠ¸í—¬ë ˆë‚˜   ğŸ‡¸ğŸ‡­    2  0.0  NaN    0  2.0     -  100.0  329    6077
221  ë¯¸í¬ë¡œë„¤ì‹œì•„   ğŸ‡«ğŸ‡²    1  0.0  NaN    0  1.0     -  100.0    9  115023

In [47]:
country

    êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ)      ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)   ë‚˜ë¼        ë¹„ê³ _ëœ»
0          ê°€ë‚˜         Ghana  NaN         NaN
1          ê°€ë´‰         Gabon  NaN         NaN
2        ê°€ì´ì•„ë‚˜        Guyana  NaN         NaN
3         ê°ë¹„ì•„        Gambia  NaN         NaN
4        ê³¼ë“¤ë£¨í”„           NaN  í”„ë‘ìŠ¤  Guadeloupe
..        ...           ...  ...         ...
222       NaN         Nauru  NaN         ë‚˜ìš°ë£¨
223       NaN         Tonga  NaN          í†µê°€
224       NaN  Turkmenistan  NaN     íˆ¬ë¥´í¬ë©”ë‹ˆìŠ¤íƒ„
225       NaN        Jersey  NaN          ì €ì§€
226       NaN            EU  NaN         NaN

[227 rows x 4 columns]

In [48]:
vaccine

,Countries and regions,Doses administered,Enough for % of people,given 1+ dose,fully vaccinated,Daily rate of doses administered
0,Global Total,6123019468,â€“,â€“,â€“,29115645
1,Mainland China,2194467000,78.4,78.6,73.0,3492857
2,India,855844677,31.3,45.9,16.1,7388179
3,EU,562043453,63.3,67.1,64.4,1028193
4,U.S.,389372689,60.8,64.2,55.2,693164
...,...,...,...,...,...,...
221,Nauru,14863,57.2,58.6,55.8,4
222,St. Helena,7892,65.8,72.7,58.9,8
223,Falkland Islands,4407,73.5,87.7,59.2,202
224,Montserrat,2856,28.6,29.4,27.7,2
225,Eritrea,â€“,â€“,â€“,â€“,â€“

In [50]:
corona = corona.merge(country, left_on='êµ­ê°€', right_on='êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ)')

In [51]:
corona

,êµ­ê°€,êµ­ê°€ì½”ë“œ,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ),ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸),ë‚˜ë¼,ë¹„ê³ _ëœ»
0,ë¯¸êµ­,ğŸ‡ºğŸ‡¸,43728094,9857997.0,22378.0,706073,33164024.0,1.6,75.8,132177,331002651,ë¯¸êµ­,U.S.,NaN,NaN
1,ì¸ë„,ğŸ‡®ğŸ‡³,33673010,308341.0,8944.0,447169,32917500.0,1.3,97.8,24405,1380004385,ì¸ë„,India,NaN,NaN
2,ë¸Œë¼ì§ˆ,ğŸ‡§ğŸ‡·,21343304,415150.0,8318.0,594246,20333908.0,2.8,95.3,100452,212559417,ë¸Œë¼ì§ˆ,Brazil,NaN,NaN
3,ì˜êµ­,ğŸ‡¬ğŸ‡§,7631233,1335993.0,916.0,136105,6159135.0,1.8,80.7,112899,67886011,ì˜êµ­,U.K.,NaN,NaN
4,ëŸ¬ì‹œì•„,ğŸ‡·ğŸ‡º,7420913,612409.0,2300.0,203900,6604604.0,2.7,89.0,51003,145934462,ëŸ¬ì‹œì•„,Russia,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,ë§ˆì…œ ì œë„,ğŸ‡²ğŸ‡­,4,0.0,NaN,0,4.0,-,100.0,68,59190,ë§ˆì…œ ì œë„,NaN,NaN,Republic of the Marshall Islands
215,ë°”ëˆ„ì•„íˆ¬,ğŸ‡»ğŸ‡º,4,0.0,NaN,1,3.0,25,75.0,13,307145,ë°”ëˆ„ì•„íˆ¬,NaN,NaN,Republic of Vanuatu
216,ì‚¬ëª¨ì•„,ğŸ‡¼ğŸ‡¸,3,0.0,NaN,0,3.0,-,100.0,15,198414,ì‚¬ëª¨ì•„,Samoa,NaN,NaN
217,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜,ğŸ‡¸ğŸ‡­,2,0.0,NaN,0,2.0,-,100.0,329,6077,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜,St. Helena,NaN,NaN
218,ë¯¸í¬ë¡œë„¤ì‹œì•„,ğŸ‡«ğŸ‡²,1,0.0,NaN,0,1.0,-,100.0,9,115023,ë¯¸í¬ë¡œë„¤ì‹œì•„,Micronesia,NaN,NaN

In [52]:
corona.drop(['êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ)', 'ë‚˜ë¼', 'ë¹„ê³ _ëœ»'], axis=1, inplace=True)

In [53]:
corona

,êµ­ê°€,êµ­ê°€ì½”ë“œ,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)
0,ë¯¸êµ­,ğŸ‡ºğŸ‡¸,43728094,9857997.0,22378.0,706073,33164024.0,1.6,75.8,132177,331002651,U.S.
1,ì¸ë„,ğŸ‡®ğŸ‡³,33673010,308341.0,8944.0,447169,32917500.0,1.3,97.8,24405,1380004385,India
2,ë¸Œë¼ì§ˆ,ğŸ‡§ğŸ‡·,21343304,415150.0,8318.0,594246,20333908.0,2.8,95.3,100452,212559417,Brazil
3,ì˜êµ­,ğŸ‡¬ğŸ‡§,7631233,1335993.0,916.0,136105,6159135.0,1.8,80.7,112899,67886011,U.K.
4,ëŸ¬ì‹œì•„,ğŸ‡·ğŸ‡º,7420913,612409.0,2300.0,203900,6604604.0,2.7,89.0,51003,145934462,Russia
...,...,...,...,...,...,...,...,...,...,...,...,...
214,ë§ˆì…œ ì œë„,ğŸ‡²ğŸ‡­,4,0.0,NaN,0,4.0,-,100.0,68,59190,NaN
215,ë°”ëˆ„ì•„íˆ¬,ğŸ‡»ğŸ‡º,4,0.0,NaN,1,3.0,25,75.0,13,307145,NaN
216,ì‚¬ëª¨ì•„,ğŸ‡¼ğŸ‡¸,3,0.0,NaN,0,3.0,-,100.0,15,198414,Samoa
217,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜,ğŸ‡¸ğŸ‡­,2,0.0,NaN,0,2.0,-,100.0,329,6077,St. Helena
218,ë¯¸í¬ë¡œë„¤ì‹œì•„,ğŸ‡«ğŸ‡²,1,0.0,NaN,0,1.0,-,100.0,9,115023,Micronesia

In [54]:
corona = corona.merge(vaccine, left_on='ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)', right_on='Countries and regions')

In [56]:
corona.drop(['ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)'], axis=1, inplace=True)

In [59]:
corona

,êµ­ê°€,êµ­ê°€ì½”ë“œ,í™•ì§„ì,ì¹˜ë£Œì¤‘,ìœ„ì¤‘ì¦,ì‚¬ë§ì,ì™„ì¹˜,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,Countries and regions,Doses administered,Enough for % of people,given 1+ dose,fully vaccinated,Daily rate of doses administered
0,ë¯¸êµ­,ğŸ‡ºğŸ‡¸,43728094,9857997.0,22378.0,706073,33164024.0,1.6,75.8,132177,331002651,U.S.,389372689,60.8,64.2,55.2,693164
1,ì¸ë„,ğŸ‡®ğŸ‡³,33673010,308341.0,8944.0,447169,32917500.0,1.3,97.8,24405,1380004385,India,855844677,31.3,45.9,16.1,7388179
2,ë¸Œë¼ì§ˆ,ğŸ‡§ğŸ‡·,21343304,415150.0,8318.0,594246,20333908.0,2.8,95.3,100452,212559417,Brazil,230477848,55.8,70.7,40.6,1411550
3,ì˜êµ­,ğŸ‡¬ğŸ‡§,7631233,1335993.0,916.0,136105,6159135.0,1.8,80.7,112899,67886011,U.K.,93421423,69.9,72.9,66.9,73687
4,ëŸ¬ì‹œì•„,ğŸ‡·ğŸ‡º,7420913,612409.0,2300.0,203900,6604604.0,2.7,89.0,51003,145934462,Russia,89301130,30.4,32.3,28.3,223501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,ëª¬íŠ¸ì„¸ë«,ğŸ‡²ğŸ‡¸,33,2.0,NaN,1,30.0,3.0,90.9,6611,4992,Montserrat,2856,28.6,29.4,27.7,2
190,ì†”ë¡œëª¬ ì œë„,ğŸ‡¸ğŸ‡§,20,0.0,NaN,0,20.0,-,100.0,29,686884,Solomon Islands,97744,7.6,11.6,3.6,2902
191,ì‚¬ëª¨ì•„,ğŸ‡¼ğŸ‡¸,3,0.0,NaN,0,3.0,-,100.0,15,198414,Samoa,149431,37.2,49.3,25.0,981
192,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜,ğŸ‡¸ğŸ‡­,2,0.0,NaN,0,2.0,-,100.0,329,6077,St. Helena,7892,65.8,72.7,58.9,8
193,ë¯¸í¬ë¡œë„¤ì‹œì•„,ğŸ‡«ğŸ‡²,1,0.0,NaN,0,1.0,-,100.0,9,115023,Micronesia,71686,34.5,41.6,â€“,294

In [60]:
# ì–´ì œ ë‚ ì§œ
yesterday = date.today() - timedelta(1)
yesterday = yesterday.strftime('%Y-%m-%d')

# íŒŒì¼ëª… ì •í•˜ê¸°
file_name = f'./data/data_merged({yesterday}).csv'

In [62]:
corona.to_csv(file_name, index=False, encoding='utf-8-sig')